/* ===========================
   TOUR BOOKING CARD
=========================== */

.tourBookingCard {
    width: 360px;
    background: rgba(255, 255, 255, 0.96);
    border-radius: 22px;
    padding: 30px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, .18);
    backdrop-filter: blur(10px);
}

.bookingTop {
    text-align: center;
    margin-bottom: 25px;
}

.bookingOffer {
    display: inline-block;
    background: #fc8222;
    color: #fff;
    padding: 8px 18px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 15px;
}

.bookingTop h2 {
    font-size: 42px;
    color: #222;
    margin: 0;
    font-weight: 700;
}

.bookingTop p {
    color: #777;
    margin-top: 8px;
}

.bookingBtn,
.enquiryBtn,
.brochureBtn {
    width: 100%;
    height: 54px;
    border: none;
    border-radius: 12px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: .3s;
}

.bookingBtn {
    background: #fc8222;
    color: #fff;
}

.bookingBtn:hover {
    transform: translateY(-3px);
}

.enquiryBtn {
    background: #222;
    color: #fff;
}

.enquiryBtn:hover {
    transform: translateY(-3px);
}

.brochureBtn {
    background: #f5f5f5;
    color: #222;
}

.brochureBtn:hover {
    background: #ececec;
}

.bookingDivider {
    width: 100%;
    height: 1px;
    background: #eee;
    margin: 8px 0;
}

.bookingInfo {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bookingInfo div {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #555;
    font-size: 15px;
}

.bookingInfo svg {
    color: #fc8222;
}

.bookingSupport {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    border-top: 1px solid #eee;
    text-align: center;
    margin-top: 8px;
}

.bookingSupport small {
    display: block;
    color: #777;
    margin-bottom: 8px;
}

.bookingSupport h3 {
    color: #fc8222;
    font-size: 14px;
    margin: 0;
}

@media(max-width:992px) {

    .tourBookingCard {
        width: 100%;
    }

}

/*==================================
GRID
==================================*/

.tourHeroGrid {
    display: grid;
    grid-template-columns: 1.5fr .8fr;
    gap: 60px;
    align-items: center;
}

.tourHeroLeft {
    width: 100%;
}

.tourHeroRight {
    display: flex;
    justify-content: flex-end;
}

@media(max-width:992px) {

    .tourHeroGrid {
        grid-template-columns: 1fr;

    }

    .tourHeroRight {
        justify-content: flex-start;
        margin-top: 40px;
    }

}